<div class="card">
   <div class="card-header d-flex justify-content-between align-items-center">
      <h2>{{image.title}}</h2>
      <button class="btn btn-danger" id="btn-delete" data-id="{{image.uniqueId}}">
         <i class="fa fa-times"> Borrar</i>
      </button>
      </div>
      <div class="card-body">
         <p>{{image.description}}</p>
         <div class="text-center">
            <img src="/public/upload/{{image.fileName}}" alt="" class="img-fluid">
         </div>
         <div class="card-footer d-flex justify-content-between align-items-center">
            <button class="btn btn-success" id="btn-like" data-id="{{image.fileName}}">
               <i class="fa fa-thumbs-up"> like</i> 
            </button>
            <p>
               <span class="likes-count">{{image.likes}}</span>
               <i class="fa fa-heart"></i>
            </p>
            <p>
               <i class="fa fa-eye"></i> {{image.views}}
            </p>
            <p>
               <i class="fa fa-clock"></i> {{timeago image.timeStamp}}
            </p>
         </div>
      </div>
</div>
<div class="card mt-2">
   <div class="card-header d-flex justify-content-between align-items-center">
      <h3>Comentarios</h3>
      <button class="btn btn-info" id="btn-toggle-comment">
         <i class="fa fa-comment-o"> Comentar</i>
      </button>
   </div>
   <div class="card-body">
      <blockquote>
         <form action="/images/{{image.uniqueId}}/comment" method="POST">
            <div class="form-group">
               <input type="text" name="name" id="" class="form-control" placeholder="Nombre">
            </div>
            <div class="form-group">
               <input type="text" name="email" id="" class="form-control"placeholder="Email">
            </div>
            <div class="form-gruop">
               <textarea name="comment" id="" class="form-control" placeholder="Ingresa tu comentario" rows="2"></textarea>
            </div>
            <div class="form-group">
               <button class="btn btn-success" id="btn-comment">
                  <i class="fa fa-comment"> Publicar</i>
               </button>
            </div>
         </form>
      </blockquote>
      <ul class="list-group p-4">
         {{#each comments}}
            <li class="list-group-item">
               <div class="row">
                  <a href="#" class="col-text-center">
                     <img src="" alt="">
                  </a>
                  <blockquote class="col">
                     <p class="lead">{{comment}}</p>
                  </blockquote>
                  <footer class="blockquote-footer">
                     {{name}} - {{timeago timestamp}}
                  </footer>
               </div>
            </li>
         {{/each}}
      </ul>
   </div>
</div>